.founder{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    flex-direction: column;
    gap:20px;
    margin-bottom:50px;
}
.founder h1{
    font-size: 24px;
}
.founder .founder-content{
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.founder .founder-content img{
    width:150px;
    height:150px;
}
.founder .founder-content div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:460px){
    .founder {
        flex-direction: column;
    }
}