
body{
    width: 100%;
}.entire-faq{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;

}
.entire-faq .quesvalue{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    box-shadow:5px 0px 5px rgba(0,0,0,0.3);
    transition:all 0.5s linear;
}
.quesvalue .answerval{
    display: none;
    height: auto;
    width: auto;  
}
h2{
    width: 100%;
    color: #fff;   
}
h2 button{
    border: none;
    color: #fff;
    background-color: transparent;
    
}
.show-ques-1,
.show-ques-2,.show-ques-3,
.show-ques-4,.show-ques-5,
.show-ques-6{
    display: block;

}
.close{
    display: none;
}
