.testimonials{
    padding: 2% 5%;
    color:#fff;
}
.testimonials h1{
    text-align:center;
    margin-bottom:25px;
}

.testimonials .testimonials-content{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    align-items:center;
    justify-content:center;
}
.testimonials .testimonials-content .profiles{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:4px;
    justify-content:center;
    align-items: center;
    border:2px solid #fff;
    padding:8px 2px;
    border-radius:0px 20px 0px 0px;
    background: radial-gradient(circle at top right, #00cbff 50%,#001f3f 50%);
}

@media (max-width:460px){
    .testimonials{
        margin-top: 15px;
        margin-bottom:10px;
    }
}
